* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 10px;
  margin: auto;
  color: var(--primary-color);
  border-radius: 4px;
  background-color: rgba(56, 113, 193, 0.3);
  font-family: 'El Messiri', sans-serif;
}

.section-title {
  font-size: 28px;
  padding-top: 10px;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
}

.page-intro {
  height: 50vh;
  position: relative;
  background-size: cover;
  font-family: 'El Messiri', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 57, 120, 0.5)), to(rgba(13, 57, 120, 0.5))), url("../img/1.jpg");
  background-image: linear-gradient(to bottom, rgba(13, 57, 120, 0.5), rgba(13, 57, 120, 0.5)), url("../img/1.jpg");
}

.page-intro .info {
  color: #fff;
  text-align: start;
  position: absolute;
  top: 50%;
  padding-right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-intro .info a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.page-intro .info a:hover {
  text-decoration: underline;
}

.page-intro .info .breadcrumb-item.active {
  font-size: 18.5px;
  color: #fff;
}

.page-intro .info .breadcrumb-item.active::before {
  color: #fff;
}

.our-news {
  padding: 50px 0px;
}

.our-news .news-box {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  font-family: 'El Messiri', sans-serif;
  border: 1px solid #dfdfdf;
  border-top: none;
}

.our-news .news-box .news-image {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  overflow: hidden;
}

.our-news .news-box .news-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-news .news-box .news-content .news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  color: #8f8f8f;
  margin: 0px 20px;
  border-bottom: 1px solid #ccc;
}

.our-news .news-box .news-content .news-header i {
  font-size: 20px;
  padding-left: 5px;
  margin: 0px 5px;
  color: var(--primary-color);
}

.our-news .news-box .news-content .news-info {
  padding-top: 20px;
  margin: 0px 20px;
}

.our-news .news-box .news-content .news-info .title {
  font-size: 20px;
  font-weight: 600;
}

.our-news .news-box .news-content .news-info .description {
  color: #8f8f8f;
  padding: 10px 0px;
}

.our-news .news-box .news-content .news-info .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-news .news-box .news-content .news-info .read-more a {
  color: var(--primary-color);
  text-decoration: none;
}

.our-news .news-box .news-content .news-info .read-more a:hover {
  margin-right: 5px;
}

.our-news .news-box:hover {
  -webkit-box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0;
          box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.news-details .news-box {
  border: none;
}

.news-details .news-box .news-image {
  height: 400px;
}

.news-details .news-box:hover {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.news-details .title {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px;
}

.news-details .description {
  color: #8f8f8f;
  padding: 10px 0px;
  margin-top: 20px;
}

.comments .title {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0px;
  border-bottom: 1px solid #ccc;
}

.comments .comment-box {
  background-color: #f4f4f4;
  margin: 20px 0px;
  padding: 20px;
}

.comments .comment-box .user-name {
  font-weight: 600;
  font-size: 20px;
}

.comments .form-comments textarea {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid var(--primary-color);
  padding: 8px 10px;
  border-radius: 4px;
  text-align: start;
  outline: none;
  min-height: 200px;
  caret-color: var(--primary-color);
}

.comments .form-comments textarea::-webkit-input-placeholder {
  color: #000;
  text-align: start;
}

.comments .form-comments textarea:-ms-input-placeholder {
  color: #000;
  text-align: start;
}

.comments .form-comments textarea::-ms-input-placeholder {
  color: #000;
  text-align: start;
}

.comments .form-comments textarea::placeholder {
  color: #000;
  text-align: start;
}

.comments .form-comments label {
  font-weight: 700;
  color: var(--primary-color);
}

.comments .form-comments button {
  width: 100%;
  border: none;
  margin: 10px 0px;
  padding: 8px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
  .our-news {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .our-news .news-box {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=news.css.map */